.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    cursor: not-allowed;
}

.Less {
    background-color: lightcoral;
}

.More {
    background-color: lightgreen;
}

.Less:hover {
    background-color: coral;
}

.More:hover {
    background-color: green;
}

.BuildControl p {
    margin: 0;
    background-color: white;
    padding: 5px;
}

.Label {
    width: 5rem;
    padding-right: 10px;
}